<section class="col-md-offset-2 col-md-8" ng-controller="###">
	<h1 class="page-header">Pool A <br/><small>Boomsquad vs. Burning Snow</small></h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Team 1</th>
				<th>Team 2</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tr ng-repeat = "###">
			<tbody>
				<td>{{game.team_1}}</td><!--Kan dit makkelijker?-->
				<td>{{game.team_2}}</td>
				<td>{{game.score_team_1}}</td>
				<td>{{game.score_team_2}}</td>
			</tbody>	
		</tr>
	</table>
</section>

<!--
game.team_2
game.team_1
game.score_team_2
game.score_team_1
-->