<section class="col-md-offset-2 col-md-8" ng-controller="###">
		<table class="table table-striped">
		<thead>
			<tr>
				<th>Nr.</th>
				<th>Team</th>
				<th>PW</th>
				<th>PL</th>
			</tr>
		</thead>

		<tr ng-repeat = "###">
			<tbody>
				<td>{{ranking.number}}</td><!--Kan dit makkelijker?-->
				<td>{{ranking.team}}</td>
				<td>{{ranking.wins}}</td>
				<td>{{ranking.lost}}</td>
			</tbody>	
		</tr>
	</table>
</section>

<!-- 
	ng-controller een naam geven
	ng-repeat een naam geven
	ranking.number
	ranking.wins
	ranking.lost -->