<section class="col-md-offset-2 col-md-8">

		<h1>7 Rules of Ultimate</h1>
		<small>Date: Monday, October 21, 2013 - Monday, November 18, 2013<br/>
		Timezone: Europe/Amsterdam</small>


	<p>The game of Ultimate frisbee is played by the following rules:
		<ol>
			<li>7 players on the line</li>
			<li>First team to 15 wins</li>
			<li>Teams switch sides after each score</li>
			<li>Half time once a team scores 8 goals</li>
			<li>Players may not run with the disc</li>
			<li>Players must pass the disc within 10 seconds</li>
			<li>Games are self officiating</li>
			<li>Final ranking pool play</li>
		</ol>
	</p>
	<p>Teams will play a round-robin in four pools. The best 2 teams of each pool play a bracket for the win. The final ranking of the pool are based on:
		<ul>
			<li>Total of games won</li>
			<li>[if teams are equal] Result of games against eachother</li>
			<li>[if teams are equal] Total of scored points - lost points</li>
			<li>[if teams are equal] Flip a coin</li>
		</ul>
	</p>
</section>